#gatinho {
  display: none
}
#la{
  display: none
}

#icanvas {
  background-image: url(https://image.freepik.com/free-vector/hand-drawn-interior-view-of-a-house_23-2147599227.jpg);
  background-size: cover;
  background-repeat: round;
}
