#heroi {
  display: none;
}
#portal {
  display: none;
}

#icanvas {
  background-image: url(https://live.staticflickr.com/2373/2885789292_de08669085_b.jpg);
  background-size: cover;
  background-repeat: round;
}